<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3421528F5E3679CEA7D89FE51BE6DE6904289364AD148688A2E236A340144BF6/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp" 
    alt="" 
    height="200px"
    srcset="">
  </div>
    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
      <p>
        <a href="#">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quis autem reiciendis cupiditate fugiat dicta iure ab commodi quidem numquam aspernatur pariatur impedit, molestiae quos voluptatem vitae possimus excepturi magnam!
        </a>
      </p>
    </div>
</div>
