<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card 
    photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3421528F5E3679CEA7D89FE51BE6DE6904289364AD148688A2E236A340144BF6/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp" 
    cardTitle="NOVO HOMEM DE FERRO EM 3D"
    cardDescription="Marvel anuncia novo homem de ferro!"
    >
    </app-big-card>

    <app-big-card 
    photoCover="https://i.ytimg.com/vi/Ih9HkzS6Pes/sddefault.jpg" 
    cardTitle="NOVIDADES DO HOMEM DE FERRO 5"
    cardDescription="Marvel anuncia novo homem de ferro!"
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Nova série anunciada no Disney +"
      photoCover="https://i.ytimg.com/vi/Ih9HkzS6Pes/sddefault.jpg"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Novo filme do pantera negra lançado em breve"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEsJwuru--qB_R9J6MDrTobtMUF7ya7Yl6Og&s"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Novo filme dos X-men está em pós produção, afirma diretor"
       photoCover="https://images.bauerhosting.com/legacy/empire-tmdb/films/127585/images/ai9UKd8KownQKGIh1m5p3DuEeMm.jpg?ar=16%3A9&fit=crop&crop=top&auto=format&w=1440&q=80"
    >
    </app-small-card>
  </div>
</div>

